
.islandora-openseadragon
{
  display: block;
  width: 100%;
  height: 500px;
}

.islandora-openseadragon canvas
{
  background-color: #000 !important; /* should be replaced with OpenSeadragon setting */
}

.islandora-openseadragon-highlight
{
  background-color: #F00;
  opacity: 0.5;
}

.openseadragon-controls-navigator {

    display: block !important;
}

.referencestrip-inner-container {

    position: absolute;
}

.openseadragon-controls-navigator {

    /* position: inherit !important; */
    position: relative !important;
    width: 180px;
    z-index: 1;
    float: right;
}

.openseadragon-navigation-container {

    position: absolute;
    right: 0;
    bottom: 0;
    /* height: 100%; */
    /* float: right; */
}

.referencestrip-container {

    /* margin-top: 38px !important; */
}

/* style image viewer controls */

.openseadragon-controls-navigator > fieldgroup > button {
	
	background-color:#EEEEEE !important;
	border:1px solid #AAAAAA !important;
	border-radius:2px;
	margin:2px !important;
}

.openseadragon-controls-navigator > fieldgroup > button > img {
	
	opacity:1 !important;
}
